In [1]:
# Import dependencies
import sqlite3
import pandas as pd

In [2]:
# Connect to database
conn = sqlite3.connect('database.sqlite')

# Player Count

In [10]:
# Read sqlite query results into a pandas DataFrame# Read  
player_count = pd.read_sql_query("""

SELECT 

COUNT(age) as 'Total Players'

FROM purchase_table

;

""",conn)

player_count.head()

   Total Players
0            858

# Purchasing Analysis (Total)

In [9]:
# Read sqlite query results into a pandas DataFrame# Read  
summary = pd.read_sql_query("""

SELECT 

DISTINCT(item_id) as 'Number of Unique Items',
AVG(price) as 'Average Price',
COUNT(price) as 'Number of Purchases',
SUM(price) as 'Total Revenue'

FROM purchase_table

;

""",conn)

summary.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     134       2.930571                  858        2514.43

# Gender Demographics

In [43]:
# Read sqlite query results into a pandas DataFrame# Read  
gender_demographics = pd.read_sql_query("""

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender = 'Male'

UNION

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender = 'Female'

UNION

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender NOT IN ('Male','Female')

ORDER BY "Percentage of Players" DESC
;

""",conn)

gender_demographics.head()

                  Gender  Percentage of Players  Total Count
0                   Male              81.235431          697
1                 Female              17.365967          149
2  Other / Non-Disclosed               1.398601           12

# Purchasing Analysis (Gender)

In [ ]:
# Read sqlite query results into a pandas DataFrame# Read  
gender_data = pd.read_sql_query("""

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender = 'Male'

UNION

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender = 'Female'

UNION

SELECT 

gender as 'Gender',

(COUNT(gender)*100)/(SELECT COUNT(age) FROM purchase_table) || '%' as 'Percentage of Players',

COUNT(gender) as 'Total Count'

FROM purchase_table

WHERE gender NOT IN ('Male','Female')

ORDER BY "Percentage of Players" DESC
;

""",conn)

gender_data.head()

# Age Demographics

# Purchasing Analysis (Age)

# Top Spenders

# Most Popular Items

# Most Profitable Items